
/* custom properties */
:root {
    --dark-color: #2d2c2c;
    --black-transparent: rgba(0, 0, 0, .7);
    --black-transparent-alt: rgba(0, 0, 0, .3);
    --gradient-black: linear-gradient(to top, rgba(0, 0, 0, 0),var(--black-transparent));
    --main-color: mediumturquoise;
}

/* global styles */
*,
*::after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body {
    /* font-family: serif; */
    font-size: 1.6rem;
    color: var(--dark-color);
}
section {
    padding: 5rem 0;
}

 /* reusable style */
.container {
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.btn {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    align-self: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    color: #fff;
}
.btn-line {
    border: 1px solid var(--main-color);
}
.btn-color {
    background: var(--main-color);
}
/* header nav */
.header {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    background: var(--gradient-black);
    z-index: 1500;
    transition: all 1s ease;
}
.header.sticky {
    background: #000;
    transition: all 1s ease;
}
.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 45%;
}
.hamburger_btn {
    font-size: 2.5rem;
    color: aliceblue;
    cursor: pointer;
    position: relative;
    z-index: 1500;
    transition: all 1s ease;
}

.hamburger_btn .fa-times {
    display: none;
}
.nav_list {
    position: fixed;
    bottom: 0; left: 120rem;
    width: 100%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: aliceblue;
    background: var(--dark-color);
    transition: all 1.5s linear;
    z-index: -1;
    padding-bottom: 3rem;
}
.open .nav_list {
    left: 0;
}
.open.header {
    background: #000;
}
.open .hamburger_btn .fa-times {
    display: block;
}
.open .hamburger_btn .fa-bars {
    display: none;
}
.nav_link {
    display: block;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 2rem;
    height: auto;
}

.sub_list {
    display: none;
}

/* hero  */
.hero {
    width: 100%;
    height: 100vh;
    background: url(/imges/mainbg.jpg) center/cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    background: var(--black-transparent-alt);
    width: inherit;
    height: inherit;
    z-index: -1;
}
.title {
    font-size: 4.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2.5rem;
}
.title span {
    font-size: 2.5rem;
    font-weight: 300;
    display: block;
}


/* best */
.section_title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: -1px;
}

